# SPDX-FileCopyrightText: © 2026-Present EDF
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Package repository manager, periodic cleanup

[Timer]
OnCalendar=Sat *-*-* 6:05
Persistent=true

[Install]
WantedBy=timers.target
