[Unit]
Description=Package repository manager, incoming package processor
After=network.target

[Service]
WorkingDirectory=/var/lib/jenny
ExecStart=/usr/share/jenny/jenny.py incoming-daemon
User=_jenny
KillMode=mixed
Restart=on-failure
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
