[Unit]
Description=Package repository manager, web interface
After=network.target

[Service]
Environment=FLASK_APP=jenny.py
Environment=FLASK_ENV=development
WorkingDirectory=/usr/share/jenny
ExecStart=flask run --host=0.0.0.0
User=_jenny
KillMode=mixed
Restart=on-failure
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
