[Unit]
Description=Package repository manager, periodic mirrors update

[Service]
Type=oneshot
WorkingDirectory=/var/lib/jenny
ExecStart=/usr/share/jenny/jenny.py update
User=_jenny
