[Unit]
Description=Package repository manager, periodic mirrors update

[Timer]
OnCalendar=*-*-* 0:05
Persistent=true

[Install]
WantedBy=timers.target
