{% extends "base.html" %}{# -*- mode: web -*- #}

{% block title %}Différences entre {{ leftenv }} et {{ rightenv }} pour {% for d in diffdatas %}{{d}}{% if not loop.last %}+{% endif %}{% endfor %}{% endblock %}

{% block content %}
{% from "distform.include" import distform, distformbuttons %}
{{ distform() }}
<div class="m-2">
  <form method="POST" action="/pre-migrate-packages">
    <input type="hidden" name="leftenv" value="{{leftenv}}">
    <input type="hidden" name="rightenv" value="{{rightenv}}">
    <input type="hidden" name="leftsnap" value="{{leftsnap}}">
    <input type="hidden" name="rightsnap" value="{{rightsnap}}">

    <button class="btn btn-primary collapse show collapse-source" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-source" aria-expanded="false">Masquer sources</button>
    <button class="btn btn-primary collapse collapse-source" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-source" aria-expanded="false">Afficher sources</button>
    <button class="btn btn-primary collapse show collapse-binaries" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-binaries" aria-expanded="false">Masquer binaires</button>
    <button class="btn btn-primary collapse collapse-binaries" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-binaries" aria-expanded="false">Afficher binaires</button>

    {% set ns=namespace(leftok=false,rightok=false) %}
    {% for d in diffdatas %}
    <input type="hidden" name="comparedist-{{d}}" id="comparedist-{{d}}" value="1" form="form-comparedists" />
    <input type="hidden" name="migratedist/{{d}}" value="1">
    {% set diffdata = diffdatas[d] %}
    {% if not g.distributions[diffdata.leftdist].ismirror and not leftsnap %}
    {% set ns.leftok = true %}
    {% endif %}
    {% if not g.distributions[diffdata.rightdist].ismirror and not rightsnap %}
    {% set ns.rightok = true %}
    {% endif %}
    
    <table class="table table-striped">
      <tr><th class="text-center">{{ leftenv }}{% if leftsnap %}[{{leftsnap}}]{% endif %}</th><th class="text-center"><span class="h3">{{d}}</span></th><th class="text-center">{{ rightenv }}{% if rightsnap %}[{{rightsnap}}]{% endif %}</th></tr>
      <!--
      <tr>
	<th>{{ diffdata.leftdist }}</th>
	<th>Paquet</th>
	<th>{{ diffdata.rightdist }}</th>
      </tr>
      -->
      {% for sourcepackage,packs in diffdata.diffs.items() %}
      <tr>
	<td />
	<th class="text-center">
	  {% if (not g.can_write) or ((g.distributions[diffdata.leftdist].ismirror or leftsnap) and (g.distributions[diffdata.rightdist].ismirror or rightsnap)) %}
	  {{ sourcepackage }}
	  {% else %}
	  <div class="form-check form-check-inline form-switch">
	    <label class="form-check-label" for="input-{{d}}--{{diffdata.leftdist}}--{{sourcepackage}}">{{ sourcepackage }}</label>
	    <input class="form-check-input checkgroup" type="checkbox" class="m-2" id="input-{{d}}--{{diffdata.leftdist}}--{{sourcepackage}}" name="migratesrcpkg/{{d}}/{{sourcepackage}}" />
	  </div>
	  {% endif %}
	</th>
	<td />
      </tr>
      {% for binpkg,versions in packs.items() %}
      {% if versions.architecture == 'source' %}
      <tr class="collapse collapse-source show table-active">
	<td>{% for v in versions.left %}{{ v }} {% endfor %}</td>
	<td>
	  <b>{{ versions.name }}</b>/{{ versions.architecture }}/{{ versions.component }}
	</td>
	<td>{% for v in versions.right %}{{ v }} {% endfor %}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% for binpkg,versions in packs.items() %}
      {% if versions.architecture != 'source' %}
      <tr class="collapse collapse-binaries show">
	<td>{% for v in versions.left %}{{ v }} {% endfor %}</td>
	<td>
	  <b>{{ versions.name }}</b>/{{ versions.architecture }}/{{ versions.component }}
	</td>
	<td>{% for v in versions.right %}{{ v }} {% endfor %}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}

      {% endfor %}
      {% if g.can_write %}
      {% if (ns.leftok or ns.rightok) %}
      <tr>
	<th colspan="3" class="text-center">
	  <div class="form-check form-check-inline form-switch">
	    <label class="form-check-label" for="input-select-all">Tout sélectionner</label>
	    <input class="form-check-input" type="checkbox" id="input-select-all" class="m-2" />
	  </div>
	</th>
      </tr>
      <tr>
	<td>
	  {% if ns.leftok %}
	  <input type="submit" class="btn btn-primary disablable" name="migrate-left" value="⇐ Vers {{leftenv}}">
	  {% endif %}
	</td>
	<th class="text-center">Migrer les paquets sélectionnés</th>
	<td>
	  {% if ns.rightok %}
	  <input type="submit" class="btn btn-primary disablable" name="migrate-right" value="Vers {{rightenv}} ⇒">
	  {% endif %}
	</td>
      </tr>
      {% endif %}
      {% endif %}

      <tr>
	<th>Rechercher les paquets…<br /><small>Pour une migration, utiliser les noms des paquets source. Plusieurs paquets possibles, séparés par une virgule.</small></th>
	<td colspan="2">
	  <input type="text" class="form-control" name="packages" value="{{g.session.packages}}" form="form-comparedists" form="form-comparedists" />
	</td>
      </tr>
      {{ distformbuttons(false,g=g) }}
    </table>
  </form>
</div>    
{% endblock %}
